{%load static%}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

        
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous"  />
    <link rel="stylesheet" href="{%static 'myapp/style.css'%}">
    <link rel="stylesheet" href="{%static 'myapp/logos.css'%}">
    <link rel="stylesheet" href="{%static "myapp/post2.css"%}">
    <title>Background image</title> 
      
  </head>
  <body>
    <div class="menu-log">
      <h4>contact no: +234-7032997372</h4>
      <h5>Tel/Whatsapp/Wechat</h5>
    </div>
     <nav class="navbar navbar-expand-lg navbar-light bg-light">
      
      <div class="menu-bar">
                <h1 class="logo">General<span>Services.</span></h1>
        <div class="collapse navbar-collapse" id="navbarSupportContent">
            
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  
                 
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Prev Maintenance<i class="fas fa-caret-down"></i>
                    </a>
                <div class="dropdown-menu" > 
                  <ul>
                    {%if user.is_authenticated%}
                    <li><a class="dropdown-item" href="{%url 'equip'%}">Prev Maintenance</a></li>
                    <li><a class="dropdown-item" href="{%url 'add-equipment'%}">Add Equipment</a></li>
                    <li><a class="dropdown-item" href="{%url 'all-equipments'%}">All Equipments</a></li>
                    <li><a class="dropdown-item" href="{%url 'email-add'%}">Send Email</a></li>
                    <li><a class="dropdown-item"
                      onclick="location.href='{%url 'to-do'%}'">Django To-do Lists</a></li>
                    {%endif%}
                  </ul>     e
             
                    
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Requests<i class="fas fa-caret-down"></i>
                      </a>
                  <div class="dropdown-menu" >
                  <ul>
                    <li><a class="dropdown-item" href="{%url 'add-request'%}">Add Requests</a></li>
                    {%if user.is_authenticated%}
                      <li><a class="dropdown-item" href="{%url 'all-requests'%}">All Requests</a></li>
                        {%if user.is_authenticated%}
                        
                        <li><a class="dropdown-item" href="{%url 'electrical-activities'%}">Electrical Requests</a></li>
                        
                        <li><a class="dropdown-item" href="{%url 'mechanical-activities'%}">Mechanical Requests</a></li>
                                               
                        <li><a class="dropdown-item" href="{%url 'biomedical-activities'%}">Biomedical Requests</a></li>
                     
                        {%endif%} 
                        {%endif%}                    
                      </ul>
                    </div>
                    </li>
                        
                     
                    
                    
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Workorders<i class="fas fa-caret-down"></i>
                      </a>
                  <div class="dropdown-menu" >
                  <ul>
                    {%if user.is_authenticated%}
                        <li><a class="dropdown-item" href="{%url 'all-workorder'%}">All Workorders</a></li>
                        
                       
                        <li><a class="dropdown-item" href="{%url 'add-workorder'%}">Add Workorder</a></li>
                        
                        <li><a class="dropdown-item" href="{%url 'search-workorder'%}">Search Workorder</a></li>
                        <li><a class="dropdown-item" href="{%url 'work-order'%}">Completed Workorders</a></li>
                        
                       
                        
                        
                         
                        
                        {%endif%}
                      </ul>
                    </div>
                    </li>
                       <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Vendors<i class="fas fa-caret-down"></i>
                          </a>
                          <div class="dropdown-menu" >
                          <ul>
                            
                            {%if user.is_authenticated%}
                            <li><a class="dropdown-item" href="{% url 'list-vendor' %}">All Vendors</a></li>
                            
                          
                              <li><a class="dropdown-item" href="{% url 'add-vendor' %}">Add Vendor</a></li>
                              
                              <li><a class="dropdown-item" href="{%url 'search-vendor'%}">Search Vendor</a></li>
                           {%endif%}
                          </ul>
                        </div>
                        </li>
                        <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Assets<i class="fas fa-caret-down"></i>
                          </a>
                          <div class="dropdown-menu" >
                            <ul>
                              {%if user.is_authenticated%}
                              <li><a class="dropdown-item" href="{% url 'all-asset' %}">All Assets</a></li>
                              
                              <li><a class="dropdown-item" href="{% url 'add-asset' %}">Add Assets</a></li>
                              <li><a class="dropdown-item" href="#">Biomedical Asset</a></li>
                              
                              <li><a class="dropdown-item" href="#">Mechanical Assets</a></li>
                              
                              <li><a class="dropdown-item" href="#">Electrical Assets</a></li>
                              
                              
                              <li><a class="dropdown-item" href="#">Building/Civil Assets</a></li>
                              {%endif%}
                            </ul>
                          </div>
                        </li>
                        <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Consumables<i class="fas fa-caret-down"></i>
                          </a>
                          <div class="dropdown-menu" >
                            <ul>
                              <li><a class="dropdown-item" href="{%url 'consumable-list'%}">All Consumables</a></li>
                              {%if user.is_authenticated%}
                              <li><a class="dropdown-item" href="{% url 'add-consumable' %}">Add Consumables</a></li>
                              <li><a class="dropdown-item" href="{%url 'biomedical-consumable'%}">Biomedical Consumables</a></li>
                           
                              <li><a class="dropdown-item" href="{%url 'mechanical-consumable'%}">Mechanical Consumables</a></li>
                              
                              <li><a class="dropdown-item" href="{%url 'electrical-consumable'%}">Electrical Consumables</a></li>
                              
                              <li><a class="dropdown-item" href="{%url 'building-consumable'%}">Building/Civil Consumables</a></li>
                              {%endif%}
                            </ul>
                          </div>
                        </li>
                                                    
                        <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Downloads<i class="fas fa-caret-down"></i>
                      </a>
                      <div class="dropdown-menu" >

                       <ul>
                        {%if user.is_authenticated%}
                        <li><a class="dropdown-item" href="{%url 'workorder-csv'%}">Workorders csv</a></li>
                                              
                          <li><a class="dropdown-item" href="{%url 'workorder-text'%}">Workorders text</a></li>
                          <li><a class="dropdown-item" href="{% url 'workorder-pdf'%}">Workorders pdf</a></li>
                          <li><a class="dropdown-item" href="{% url 'activitieslist-pdf'%}">Acticitieslist pdf</a></li>
                          <li><a class="dropdown-item" href="{%url 'activitieslist-text'%}">Activitieslist text</a></li>
                          <li><a class="dropdown-item" href="{% url 'activitieslist-csv'%}">Activitieslist csv</a></li>
                          {%endif%}
                      </ul>
                    </div>
                    </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Registrations<i class="fas fa-caret-down"></i>
                      </a>
                      <div class="dropdown-menu" >

                        <ul>
                          {%if user.is_authenticated%}
                          <li class="nav-item">
                           
                          <a class="dropdown-item" href="{%url 'logout' %}">Logout</a></li>
                          {%else%}                    
                            <li><a class="dropdown-item" href="{%url 'register_user' %}">Register User</a></li>
                            <li><a class="dropdown-item" href="{%url 'signin' %}">Login</a></li>
                            {%endif%}
                        </ul>
  
                    </div>
                    </li>
                    
                    
                    
                 
                  
                </ul>
               
                
          </div>
        </div>
      </div>f
      
        

  </nav>
  <section class="">
    &nbsp;
    
    <div class="">
      
      {%block content%}
  
      {%endblock%}
    </div>
  
   
  </section>




  
  
      
    </div>
  
   
  </section>

 


  

    
  </body>
</html>