{%extends "myapp/base.html"%}
{%block content%}


{%for build in build_consumable%}
<div class="card-body">
      <h5 class="card-title">In_house_contractors:{{mech}}</h5>
      <p class="card-text">
<ul>
      <li><strong>Name</strong>:{{build.consumable_name}}<li>
      <li><strong>Type</strong>:{{build.equipment_type}}<li>
      <li><strong>Unit</strong>:{{build.unit}}<li>
      <li><strong>Quantity</strong>:{{build.quantity}}<li>
      <li><strong>Location</strong>:{{build.location}}<li>
     
</ul><br/><br/>
</p>
{%endfor%}






      
      {%endblock%}