<form action="/done" method="get">
    <nav class="bg-light">
      <div class="mb-3">
        <label for="inputPassword" class="col-sm-2 col-form-label"><h5>Enter Phone Number</h5></label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="inputPhone" name="phone">
      </div>
    </nav>

    <nav class="bg-light">
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label"><h5>Enter Your Text</h5></label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="text"></textarea>
      </div>
    </nav>

    <center>
      <button type="submit" class="btn btn-primary btn-lg"><h4>Send Message</h4></button>
    </center>
</form>