{%extends "myapp/base.html"%}
{%block content%}


<h1>{{asset}}</h1>

<ul>
    
      <li><strong>Requesting Unit</strong>:{{asset.asset_name}}<li>
      <li><strong>Department</strong>:{{asset.supply_date}}<li>
      <li><strong>Receiving Unut</strong>:{{asset.quantity}}<li>
      <li><strong>Date Received</strong>:{{asset.location}}<li>
      <li><strong>Date Completed</strong>:{{asset.present_condition}}<li>
      <li><strong>The Equipment</strong>:{{asset.comment}}<li>
       <li><strong>The Supervising Officer</strong>:{{asset.asset_name}}<li>
      
</ul>
<div class="card-footer text-muted">
      <a href="{%url 'update-asset' asset.id%}"
                  class="btn btn-outline-secondary btn-sm">Update Asset</a>
    
      
      <a href="{%url 'delete-asset' asset.id%}"
      class="btn btn-outline-danger btn-sm">Delete Asset</a>
    </div>





      
      {%endblock%}